@model ExerciseViewModel

    <style>
        .form-group {
            margin-bottom: 3%; /* İstediğiniz yüzde cinsinden boşluk miktarını ayarlayabilirsiniz */
        }
    </style>

    <div class="row mt-3">
        <div class="col-md-6 offset-md-3">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                @*<div asp-validation-summary=ModelOnly*></div>*@
                <div class="row form-group">
                    <input asp-for="ExercisePlan.ApplicationUser" hidden />
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="text-input" class=" form-control-label">İsim</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="ExercisePlan.Exercise_Name" id="text-input" name="ExercisePlan.Exercise_Name" placeholder="Egzersiz Planı'nın İsmi" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="ExercisePlan.Set_count" class=" form-control-label">Set Sayısı</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="ExercisePlan.Set_count" id="text-input" name="ExercisePlan.Set_count" placeholder="Set Sayısı" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="ExercisePlan.Repeat_Count" class=" form-control-label">Tekrar Sayısı</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="ExercisePlan.Repeat_Count" id="text-input" name="ExercisePlan.Repeat_Count" placeholder="Tekrar Sayısı" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="ExercisePlan.StartDate" class=" form-control-label">Video Bağlantısı</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="ExercisePlan.VideoLinkUrl" id="text-input" name="ExercisePlan.VideoLinkUrl" placeholder="Video Bağlantısı" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="ExercisePlan.ExerciseDuration" class=" form-control-label">Egzersiz Süresi</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="ExercisePlan.ExerciseDuration" id="text-input" name="ExercisePlan.ExerciseDuration" placeholder="Egzersizin Süresi" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="ExercisePlan.StartDate" class=" form-control-label">Egzersiz Başlangıç Tarihi</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="ExercisePlan.StartDate" id="text-input" name="ExercisePlan.StartDate" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="text-input" class=" form-control-label">Uzmanlık Sahibi Kişi</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select asp-for="ExercisePlan.Coach_id" asp-items="@(new SelectList(Model.Users, "Id", "UserName"))" class="form-control">
                            <option value="">Seçiniz</option>
                        </select>
                        <span asp-validation-for="ExercisePlan.Coach_id" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Egzersiz Planını Ekle
                    </button>
                    <a type="reset" class="btn btn-danger btn-sm" asp-controller="Admin" asp-action="ExerciseIndex">
                        <i class="fa fa-ban"></i> İptal
                    </a>
                </div>
            </form>
        </div>
    </div>