@model UserSpecialityViewModel

<style>
    .form-group {
        margin-bottom: 3%; /* İstediğiniz yüzde cinsinden boşluk miktarını ayarlayabilirsiniz */
    }
</style>

    <div class="col-md-6 offset-md-3">
        <form method="post" class="form-horizontal">
            @*<div asp-validation-summary=ModelOnly*></div>*@
            <div class="row form-group">
                <input asp-for="UserSpeciality.ApplicationUser" hidden />
                <input asp-for="UserSpeciality.Speciality" hidden />
                <input asp-for="UserSpeciality.UserSpeciality_id" type="hidden" />
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    <label asp-for="UserSpeciality.Speciality_id" class="form-control-label">Uzmanlık Alanı</label>
                </div>
                <div class="col-12 col-md-9">
                    <select asp-for="UserSpeciality.Speciality_id" asp-items="@(new SelectList(Model.Specialities, "Speciality_id", "SpecialityName"))" class="form-control">
                        <option value="">Seçiniz</option>
                    </select>
                    <span asp-validation-for="UserSpeciality.Speciality_id" class="text-danger"></span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="text-input" class=" form-control-label">Uzmanlık Sahibi Kişi</label>
                </div>
                <div class="col-12 col-md-9">
                    <select asp-for="UserSpeciality.User_id" asp-items="@(new SelectList(Model.Users, "Id", "UserName"))" class="form-control">
                        <option value="">Seçiniz</option>
                    </select>
                    <span asp-validation-for="UserSpeciality.User_id" class="text-danger"></span>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Değişiklikleri Güncelle
                </button>
                <a type="reset" class="btn btn-danger btn-sm" asp-controller="Admin" asp-action="SpecialityList">
                    <i class="fa fa-ban"></i> İptal
                </a>
            </div>
        </form>
    </div>
