@model UserProfileViewModel

    <style>
        .form-group {
            margin-bottom: 3%; /* İstediğiniz yüzde cinsinden boşluk miktarını ayarlayabilirsiniz */
        }
    </style>

    <div class="row mt-3">
        <div class="col-md-6 offset-md-3">
            <ul>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/CustomRegister">Yeni Kullanıcı Oluştur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="MasterMind" asp-controller="Admin" asp-action="Users"> Kullanıcıları Görüntüle</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="MasterMind" asp-controller="Admin" asp-action="CreateSpeciality">Uzmanlık Alanı Ekle</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="MasterMind" asp-controller="Admin" asp-action="SpecialityList">Uzmanlık Alanlarını Görüntüle</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="MasterMind" asp-controller="Admin" asp-action="AssignSpeciality">Uzmanlık Alanı Ataması Yap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="MasterMind" asp-controller="Admin" asp-action="CreateUserSpeciality">Antrenörlere Uzmanlık Alanı Bağla</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="MasterMind" asp-controller="Admin" asp-action="UserSpecialityList">Antrenörlerin Uzmanlık Alanlarını Görüntüle</a>
                </li>

            </ul>
            </div>
    </div>